<ion-app>
  <ion-content>
    <ion-row padding-top> </ion-row>
    <ion-row padding-top> </ion-row>
    <ion-row padding-top> </ion-row>
    <ion-header></ion-header>
    <ng-container *ngFor="let item of items; let i = index">
      <app-todo [input]="item" (completed)="onComplete(i)"></app-todo>
    </ng-container>

    <ion-card>
      <ion-item>
        <ion-label position="floating">Course</ion-label>
        <ion-input
          id="courseInput"
          type="text"
          hint="Course"
          [(ngModel)]="courseName"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input
          id="descInput"
          type="text"
          hint="Description"
          [(ngModel)]="description"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input id="dateInput" type="date" [(ngModel)]="dueDate"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addTask()">Add task</ion-button>
    </ion-card>
  </ion-content>
</ion-app>
